<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<!--    &lt;!&ndash;  🔥 STORAGE PERMISSIONS  &ndash;&gt;-->
<!--    &lt;!&ndash;  For Android 9 and below  &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>-->
<!--    &lt;!&ndash;  🔥 For Android 10 (legacy access)  &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>-->
<!--    &lt;!&ndash;  🔥 Android 11+ Scoped Storage  &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>-->
<!--    &lt;!&ndash;  🔥 Android 13+ media-specific permissions  &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>-->

<!--    &lt;!&ndash; Android 12 and below &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="32"/>-->

<!--    &lt;!&ndash; Android 13+ media permissions &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>-->

<!--    &lt;!&ndash; If your app needs location of photos (optional) &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>-->
    <application android:label="Happy Wedz"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme"/>
            <meta-data android:name="com.google.android.gms.client_id"
                android:value="5404414440-cem4pmibedcbi2qi7h2cgoop841jeot7.apps.googleusercontent.com"
                />
<!--            <meta-data android:name="com.truecaller.android.sdk.ClientId" android:value="gt7crz05tgi0o3mk10wimjig0irao0fr7xgsljqdfh8"/>-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="flutterEmbedding" android:value="2"/>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>